$red: rgba(255, 0, 0, 1);

h1 {
   color: #dd5454;
}
p {
}

body{
    background-color: #ggffgg;
}
a{

}
h2{
    color: #dd6565;

}

.mapStyle{
    width:800px;
    position: absolute;
    top:200px;
    left:10%;
}
.imagesBox{
    width:800px;
    position: absolute;
    top:200px;
    left:50px;
}

.moreInfo{
    position: absolute;
    bottom:0;
    right:0;
    width:270px;
    left:100px;
    font-family: serif;
    background-color: #444;
    color: #fff;
    height:60px;
    padding:10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    img {
        position: absolute;
        right:0;

}
}

.wholePage{
    width:100%;

}

.nappula {
    margin: 0 60px;
    width: 200px;
    color: #dd5454;
    padding: 30px 10px;
    background-color: #222;
    border-radius:45px;
    button{
     padding: 15px;
    }
}

.div1{
color: #dd5454;
}

.div2{
    position: absolute;
    bottom:10px;
    right:10px;
    margin: 100 90px;
    width: 300px;
    color: #222;
    padding: 30px 10px;
    background-color: #dd8989;
    h1 {
   color: #898989
    }
}

.box{
    width:10px;
    background-color: #262626;
}


.WeatherKartta{
    width:600px;
    height:350px;
    margin:10px;
    border-style: solid;
}
